{% macro bar_chart() %}
    <div class="relative mb-2 w-full h-[50vh] md:h-[50vh]">
        <canvas id="bar_chart"></canvas>
    </div>

    <div class="flex gap-2 mb-10">
        {% for (ind, (filter, label)) in [("last-2-days", "Last 2 days"), ("last-60-days", "Last 60 days"), ("all-time", "All time")].iter().enumerate() %}
            <label class="p-1 px-2 w-full bg-gray-200 rounded">
                <input class="mr-1.5"
                       type="radio"
                       id="{{ filter }}"
                       name="filter"
                       value="{{ filter }}"
                       {% if ind == 1 %}checked{% endif %} />
                {{- label -}}
            </label>
        {% endfor %}
    </div>
{% endmacro %}
