<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{{- base.title -}}</title>

        <link href="/static/main.css" rel="stylesheet" />
    </head>

    <body class="flex flex-col p-1 mx-auto min-h-screen text-lg break-words lg:px-3 2xl:container">
        <header class="py-2 px-4 mb-2.5 text-center bg-gray-200 rounded-full">
            <nav class="font-bold">
                <a class="no-underline" href="/">OxiTraffic</a>
            </nav>
        </header>

        <main class="mx-1 mb-4 leading-relaxed">
            {% block content %}{% endblock %}
        </main>

        <footer class="py-2 mt-auto text-sm text-center bg-gray-100 rounded-full">
            <a href="https://codeberg.org/mo8it/oxitraffic"
               target="_blank"
               rel="noreferrer">Source Code</a>
        </footer>
    </body>
</html>
