<div class="filter-buttons">
    <button type="button" data-preset="today"  class="outline secondary">Today</button>
    <button type="button" data-preset="7"      class="outline secondary">Last 7 days</button>
    <button type="button" data-preset="30"     class="outline secondary">Last 30 days</button>
    <button type="button" data-preset="90"     class="outline secondary">Last 90 days</button>
    <button type="button" data-preset="365"    class="outline secondary">Last year</button>
    <button type="button" data-preset="all"    class="outline secondary">All time</button>
</div>
