{% extends "base.html" %}

{%- import "bar_chart.html" as bar_chart_macros -%}

{% block content %}
    <p class="my-2 text-xl font-bold">
        Website: <a href="{{ tracked_origin }}">{{ tracked_origin }}</a>
    </p>

    {{ bar_chart_macros::bar_chart() }}

    <table class="w-full md:w-fit" id="table" hidden>
        <thead>
            <tr class="border-b-4">
                <th class="pr-5 text-left">Page</th>
                <th class="pr-5 text-left">Visits</th>
                <th class="text-right">%</th>
            </tr>
        </thead>

        <tbody id="table_body">
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script data-base-url="{{ base_url }}" src='{{ base_url }}/static/stats.js?v={{ env!("BUILD_TIMESTAMP") }}'></script>
{% endblock %}
