{% extends "base.html" %}

{% block content %}
    Tracked website: <a href="{{ tracked_origin }}">{{ tracked_origin }}</a>

    <h3>Registered pages</h3>

    <table class="w-full border-seprate md:w-fit">
        <tr class="border-b-4">
            <th class="pr-5 text-left">Page</th>
            <th class="pr-5 text-left">Visits</th>
            <th class="text-right">Percentage</th>
        </tr>

        {% for (path_count, perc) in counts_rows %}
            <tr class="border-b-8 border-transparent">
                <td class="pr-5">
                    <a href="/stats?path={{ path_count.path }}">{{ path_count.path }}</a>
                </td>
                <td class="pr-5">{{ path_count.count }}</td>
                <td class="text-right">{{ "{:.1}"|format(perc) }}%</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
