{% extends "base.html" %}

{%- import "bar_chart.html" as bar_chart_macros -%}

{% block content %}
    <h4 class="mb-4">
        Website: <a href="{{ tracked_origin }}">{{ tracked_origin }}</a>
    </h4>

    {% call bar_chart_macros::bar_chart() %}

    <table class="w-full md:w-fit">
        <thead>
            <tr class="border-b-4">
                <th class="pr-5 text-left">Page</th>
                <th class="pr-5 text-left">Visits</th>
                <th class="text-right">%</th>
            </tr>
        </thead>

        <tbody id="visits_table_body">
        </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src='/static/stats.js?v={{ env!("BUILD_TIMESTAMP") }}'></script>
    <script src='/static/index.js?v={{ env!("BUILD_TIMESTAMP") }}'></script>
    <script>oxitraffic.stats.render_bar_chart("{{ base_url }}", { on_filter_update: oxitraffic.index.on_filter_update });</script>
{% endblock %}
