{% extends "base.html" %}

{% block content %}
    <table class="border-separate border-spacing-3">
        <tr>
            <td>Page</td>
            <td>
                <a href="{{ tracked_origin }}{{ path }}">{{ tracked_origin }}{{ path }}</a>
            </td>
        </tr>
        <tr>
            <td>#visits</td>
            <td>{{ visits.len }}</td>
        </tr>
        <tr>
            <td>visits/day</td>
            <td>{{ "{:.2}"|format(visits.per_day) }}</td>
        </tr>
    </table>

    <div class="relative mb-12 w-full h-[50vh] md:h-[50vh]">
        <canvas id="bar_chart"></canvas>
    </div>

    <div class="relative mb-12 w-full h-[50vh] md:h-[50vh]">
        <canvas id="line_chart"></canvas>
    </div>

    <table class="w-full md:w-fit">
        <tr class="border-b-4">
            <th class="pr-5 text-left">Referrer</th>
            <th class="pr-5 text-left">Visits</th>
        </tr>

        {% for referrer in referrers %}
            <tr class="border-b-[12px] border-transparent">
                <td class="pr-5">
                    <a href="https://{{ referrer.domain }}">{{ referrer.domain }}</a>
                </td>
                <td class="pr-5">{{ referrer.count }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
    <script src='/static/stats.js?v={{ env!("BUILD_TIMESTAMP") }}'></script>
    <script>oxitraffic.stats.render_charts({{ visits.timestamps_json }}, {{ visits.min_chart_timestamp }}, {{ visits.max_chart_timestamp }});</script>
{% endblock %}
