{% extends "base.html" %}

{% block content %}
    <p class="text-center">
        Page: <a href="{{ tracked_origin }}{{ path }}">{{ tracked_origin }}{{ path }}</a>
    </p>

    <div class="flex flex-wrap gap-y-2 justify-center mt-6">
        <div class="w-[95%] max-w-screen-md h-[70vh] relative 2xl:max-w-screen-lg">
            <canvas id="chart"></canvas>
        </div>

        <table class="border-separate border-spacing-4">
            <tr>
                <td>Number of visits</td>
                <td>{{ n_visits }}</td>
            </tr>
            <tr>
                <td>Visits per day</td>
                <td>{{ "{:.2}"|format(visits_per_day) }}</td>
            </tr>
            <tr>
                <td>First visit</td>
                <td>{{ first_visit }}</td>
            </tr>
            <tr>
                <td>Last visit</td>
                <td>{{ last_visit }}</td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block scripts %}
    <script src='/static/chart.umd.js?v={{ env!("CARGO_PKG_VERSION") }}'></script>

    <script src='/static/hammer.min.js?v={{ env!("CARGO_PKG_VERSION") }}'></script>
    <script src='/static/chartjs-plugin-zoom.min.js?v={{ env!("CARGO_PKG_VERSION") }}'></script>

    <script type="module">
        function datetime(timestamp_in_secs) {
            return new Date(1000 * timestamp_in_secs).toLocaleString('de-DE');
        }

        async function render_chart() {
            const data = {{ history }}.map(function(element, index) { return {x: element, y: index + 1}; });
            const n_visits = data.length;

            const zoom_options = {
                zoom: {
                    wheel: {
                        enabled: true
                    },
                    pinch: {
                        enabled: true
                    }
                },
                pan: {
                    enabled: true
                },
                limits: {
                    x: {
                        min: 'original',
                        max: 'original',
                        minRange: 60
                    },
                    y: {
                        min: 'original',
                        max: 'original',
                        minRange: 10
                    }
                }
            };

            new Chart(
                document.getElementById('chart'), {
                    type: 'line',
                    data: {
                        datasets: [{
                            label: 'Visits',
                            data: data
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        animation: false,
                        parsing: false,
                        plugins: {
                            legend: {
                                display: false
                            },
                            tooltip: {
                                callbacks: {
                                    title: () => '',
                                    beforeLabel: function(context) {
                                        return datetime(context.raw.x);
                                    }
                                }
                            },
                            zoom: zoom_options
                        },
                        scales: {
                            x: {
                                type: 'linear',
                                title: {
                                    display: true,
                                    text: 'Time'
                                },
                                min: {{ min_chart_timestamp }},
                                max: {{ max_chart_timestamp }},
                                ticks: {
                                    callback: function(value, index, ticks) {
                                        return datetime(value);
                                    },
                                    sampleSize: 8,
                                    minRotation: 15
                                }
                            },
                            y: {
                                type: 'linear',
                                title: {
                                    display: true,
                                    text: 'Visits'
                                },
                                min: 0,
                                max: n_visits + 1,
                                ticks: {
                                    stepSize: 1,
                                }
                            }
                        },
                    }
                }
            );
        }

        render_chart();
    </script>
{% endblock %}
