{% extends "base.html" %}

{%- import "bar_chart.html" as bar_chart_macros -%}

{% block content %}
    <table class="border-separate border-spacing-3">
        <tr>
            <td>Page</td>
            <td>
                <a href="{{ tracked_origin }}{{ path }}">{{ tracked_origin }}{{ path }}</a>
            </td>
        </tr>
        <tr>
            <td>First visit</td>
            <td>{{ visits.first }}</td>
        </tr>
        <tr>
            <td>Visits</td>
            <td>{{ visits.total_n }}</td>
        </tr>
        <tr>
            <td>Visits per day</td>
            <td>{{ "{:.2}"|format(visits.per_day) }}</td>
        </tr>
        {% match visits.average_time_spent %}
            {% when Some with (time) %}
            <tr>
                <td>Average time spent</td>
                <td>{{ time }}</td>
            </tr>
            {% when None %}
        {% endmatch %}
    </table>

    {% call bar_chart_macros::bar_chart() %}

    {% if !referrer_count_rows.is_empty() %}
        <table class="w-full md:w-fit">
            <tr class="border-b-4">
                <th class="pr-5 text-left">Referrer</th>
                <th class="pr-5 text-left">Visits</th>
                <th class="text-right">%</th>
            </tr>

            {% for (domain_count, perc) in referrer_count_rows %}
                <tr class="border-transparent border-b-[12px]">
                    <td class="pr-5">
                        <a href="https://{{ domain_count.domain }}">{{ domain_count.domain }}</a>
                    </td>
                    <td class="pr-5">{{ domain_count.count }}</td>
                    <td class="text-right">{{ perc }}%</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src='/static/stats.js?v={{ env!("BUILD_TIMESTAMP") }}'></script>
    <script>oxitraffic.stats.render_bar_chart("{{ base_url }}", { path: "{{ path }}" });</script>
{% endblock %}
